<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
      integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header id='pageHead'>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          {{#if logged_in}}
          <li><a href="/dashboard">Dashboard</a></li>
          {{else}}
          <li><a href="/login">Dashboard</a></li>
          {{/if}}
        </ul>
        <div id="loginout">
          {{#if logged_in}}
            <p>Welcome back, {{name}}</p>
            <button id="logout-button">Log out</button>
          {{else}}
            <a href='/login'><button>Log in/Sign up</button></a>
          {{/if}}
        </div>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer id="page-footer">Made with &#10084;&#65039; by Ben G</footer>
  </body>

  {{#if logged_in}}
    <script src='/js/logout.js'></script>
  {{/if}}

</html>