<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Document</title>
  </head>
  <body>
    <header id="pageHead">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>Dashboard</li>
        </ul>
        <div>
          <a href='/login'><button>Log in/Sign up</button></a>
        </div>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>Nice footer things here</footer>
  </body>

</html>